.card-title activator{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: ghostwhite;
    /* margin-right:-35px; */
    
}
.card-content{
    background:linear-gradient(ghostwhite,silver);
}
a{
    color:rgb(180, 81, 81);;
    font-family: 'Source Sans Pro', sans-serif;
}
.card-reveal{
    background:mintcream;
}
p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
   
}
